
.container{ 
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $font-header;
}

.header{
  background-image: linear-gradient(rgba(0,0,0, 0.60), rgba(0,0,0, 0.60)), url( "../images/background.png");
  background-size: cover;
  color: $color-font-white;
  height: 100vh;
  position: relative;
 
  .header img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  ul {
    margin-top: 40px;
    list-style-type: none;
  }

  li {
    margin-left: 10px;
    font-size: 20px;
    opacity: 0.5;
    margin-right: 25px;
  }

  a {
    text-decoration: none;
  } 

  a:visited {
    color: $color-font-white;
  }
}

.nav_navigation_row{
  display: flex;
  flex-direction: row;
  color: $color-font-white;
}

.column{
  display: flex;
  flex: 0 50%;
}

.header_title{
  color: $color-font-white;
  padding-top: 5x;
  padding-left: 20px;                        
}
 
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-3 {
  flex: 0 0 33%;
  position: relative;
  flex-direction: column;
}

.header_subtitle {
  color: $color-font-gold;
  font-size: 45px;
  letter-spacing: 8px;
  text-transform: uppercase;

  h1:first-of-type {
    margin-right: 0;
    text-align: left;
    margin-bottom: -10px;
  }

  h1:last-of-type {
    position: relative;
    text-align: right;
    margin-top: 0;
  }

  h1:last-of-type::after {
    position: absolute;
    content: '';
    bottom: -35px;
    left: 50%;
    width: 300px;
    height: 5px;
    transform: translateX(-50%);
    background: $color-font-gold;
  }
}

.nav_brand {
  color: $color-font-white;
  font-weight: bold;
  margin-left: 30px;
  letter-spacing: 5px;

  h1 {
    font-size: 36px;
    margin-bottom: -10px;
  }

  h2 {
    font-size: 16px;
  }
}

.header_discover{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  letter-spacing: 6px;
  font-size: 32px;
  z-index: 2;
}

.icon-arrow{
  font-size: 30px;
}