.products_title{
  color: $color-font-gold;
  text-align: center;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 30px;
}

h1:last-of-type::after {
  position: absolute;
  content: '';
  bottom: -150px;
  left: 50%;
  width: 600px;
  height: 10px;
  transform: translateX(-50%);
  background: $color-font-gold;
}

.container_products{
  margin: 25px 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: $font-text;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.products-description {
  .properties {
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;

    p {
      margin-bottom: -15px;
      font-size: 20px;
    }

    span {
      color: $color-font-gold;
    }
  }

  .description {
    font-size: 16px;
    position: relative;
    padding-left: 130px;
    margin-bottom: 10px;
  }

  .description::after {
    position: absolute;
    content: '';
    top: 10px;
    left: 60px;
    width: 100px;
    height: 5px;
    transform: translateX(-50%);
    background: $color-font-gold;
  }
}

.name{
  font-size: 35px;
  letter-spacing: 2px;
  font-weight: bold;
}

.products-image{
  padding-left: 10px;
  //margin-left: 30px;
}

h4{
  text-align: center;
  margin-top: 20px;
}

.products {
  img {
    box-shadow: 0 0 60px 0 #696969;
  }}