$color-font-gold: #BEA67C;
$color-font-white: #FFF;
$color-font-black: #000;

$font-page-subtitle: 'Sans Pro Black',  sans-serif;
$font-header: 'Sans Pro Semibold',  sans-serif;
$font-text: 'Sans Pro Semibold Italic',  sans-serif;